body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://wallpaperaccess.com/full/2140.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.game-container {
    position:relative;
}

canvas {
    display: block;
    background-color: rgba(14, 26, 41, 0.624);
}

.score-board {
    position:absolute;
    top: 0px;
    width: 100%;
    background-color:black;
    color: rgb(47, 57, 31);
    font-family: Arial, sans-serif;
    font-size: 15px;
}